button,
.button {
	border-radius: var(--radius);
	color: white;
	padding: var(--button-padding);
	text-align: center;
	text-decoration: none;
	background: rgba(255, 255, 255, 0.1);
	border: 1px solid transparent;
	cursor: pointer;
	transition: background-color 0.25s, color 0.25s, opacity 0.5s;
}
.button:visited {
	color: white;
}

button:hover,
.button:hover {
	background: rgba(255, 255, 255, 0.2);
}

button:active,
.button:active {
	background: rgba(255, 255, 255, 0.3);
}

button:focus-visible,
.button:focus-visible {
	border-color: #00f7ff;
	outline: 0;
}

button:disabled,
.button:disabled {
	background: transparent;
	color: #bbb;
	border-color: transparent;
	filter: grayscale(1);
	cursor: default;
}

button.green,
.button.green {
	background: lch(65 100 170 / 0.5);
}

button.green:hover,
.button.green:hover {
	background: lch(80 100 170 / 0.5);
}

button.green:active,
.button.green:active {
	background: lch(60 100 170 / 0.5);
}

button.red,
.button.red {
	background: lch(65 100 20 / 0.5);
}

button.red:hover,
.button.red:hover {
	background: lch(80 100 20 / 0.5);
}

button.red:active,
.button.red:active {
	background: lch(60 100 20 / 0.5);
}

button.hidden,
.button.hidden {
	opacity: 0;
}
