button,
.button {
	border-radius: var(--radius);
	color: white;
	padding: var(--button-padding);
	text-align: center;
	text-decoration: none;
	background: rgba(255, 255, 255, 0.1);
	border: 1px solid transparent;
	cursor: pointer;
	transition: background-color 0.25s, color 0.25s, opacity 0.5s;
}
.button:visited {
	color: white;
}

button:hover,
.button:hover {
	background: rgba(255, 255, 255, 0.2);
}

button:active,
.button:active {
	background: rgba(255, 255, 255, 0.3);
}

button:focus-visible,
.button:focus-visible {
	border-color: #00f7ff;
	outline: 0;
}

button:disabled,
.button:disabled {
	background: transparent;
	color: #bbb;
	border-color: transparent;
	filter: grayscale(1);
	cursor: default;
}

button.green,
.button.green {
	background: rgba(85, 255, 51, 0.4);
	color: #afff9f;
}

button.green:hover,
.button.green:hover {
	background: rgba(85, 255, 51, 0.5);
	color: white;
}

button.green:active,
.button.green:active {
	background: rgba(85, 255, 51, 0.3);
}

button.hidden,
.button.hidden {
	opacity: 0;
}
