button,
.button {
	border-radius: 2vmin;
	color: white;
	padding: 2vmin;
	text-align: center;
	text-decoration: none;
	background: rgba(255, 255, 255, 0.1);
	border: 1px solid transparent;
	cursor: pointer;
	transition: background-color 0.25s;
}
.button:visited {
	color: white;
}

button:hover,
.button:hover {
	background: rgba(255, 255, 255, 0.2);
}

button:active,
.button:active {
	background: rgba(255, 255, 255, 0.3);
}

button:focus-visible,
.button:focus-visible {
	border-color: #00f7ff;
	outline: 0;
}

button:disabled,
.button:disabled {
	background: transparent;
	color: #bbb;
	border-color: transparent;
	filter: grayscale(1);
	cursor: default;
}
