button,
.button {
	background-image: linear-gradient(
			to right,
			white 1px,
			transparent 1px,
			transparent calc(100% - 1px),
			#888 calc(100% - 1px)
		),
		linear-gradient(
			white 1px,
			#666 1px,
			#777 calc(100% - 1px),
			#888 calc(100% - 1px)
		);
	color: white;
	border-width: 0.5vmin;
	border-style: solid;
	border-top-color: #bbb;
	border-left-color: #999;
	border-right-color: #444;
	border-bottom-color: #333;
	text-shadow: -1px -1px 0 #333;
	padding: 2vmin;
	position: relative;
	text-align: center;
	text-decoration: none;
}

button:active,
.button:active {
	background-image: linear-gradient(
			to right,
			#555 1px,
			transparent 1px,
			transparent calc(100% - 1px),
			#ccc calc(100% - 1px)
		),
		linear-gradient(
			#555 1px,
			#333 1px,
			#555 calc(100% - 1px),
			#ccc calc(100% - 1px)
		);
	border-bottom-color: #999;
	border-right-color: #777;
	border-left-color: #333;
	border-top-color: #111;
}

button:focus-visible,
.button:focus-visible {
	text-shadow: 0 0 1vmin white;
}

button:disabled,
.button:disabled {
	text-shadow: -1px -1px 0 #333;
	background: #666;
	color: #bbb;
	border-color: transparent;
	filter: grayscale(1);
}

button::before,
.button::before,
button::after,
.button::after {
	position: absolute;
	content: '';
	left: -0.25vmin;
	right: -0.25vmin;
	height: 0.5vmin;
	transform: skewX(45deg);
}
button::before,
.button::before {
	top: -0.5vmin;
	background: linear-gradient(to right, white 1px, rgba(255, 255, 255, 0) 1px);
}
button::after,
.button::after {
	bottom: -0.5vmin;
	background: linear-gradient(to left, black 1px, rgba(0, 0, 0, 0) 1px);
}

button:active::before,
.button:active::before {
	background: linear-gradient(to right, black 1px, rgba(0, 0, 0, 0) 1px);
}
button:active::after,
.button:active::after {
	background: linear-gradient(to left, #ccc 1px, rgba(204, 204, 204, 0) 1px);
}

button:disabled::before,
.button.disabled::before,
button:disabled::after,
.button.disabled::after {
	content: none;
}
