dialog {
	display: flex;
	flex-flow: column;
	overflow: auto;
	padding: 8vmin;
	gap: 4vmin;
	background-color: #444;
	color: white;
	border: 1px solid white;
	border-radius: 4vmin;
	text-align: center;
	box-shadow: 0 0 8vmin black;
	transition: opacity 0.5s ease;
}
dialog::backdrop {
	background-color: black;
	opacity: 0.4;
	transition: opacity 0.5s ease;
}

/* dialog.v-enter-active,
dialog.v-enter-active::backdrop,
dialog.v-leave-active,
dialog.v-leave-active::backdrop {
	transition: opacity 0.5s ease;
} */

dialog.v-enter-from,
dialog.v-leave-to,
dialog.v-enter-from::backdrop,
dialog.v-leave-to::backdrop {
	opacity: 0;
}

dialog.v-enter-active.delay-1s,
dialog.v-enter-active.delay-1s::backdrop {
	transition-delay: 1s;
}
