input:not([type]) {
	box-sizing: content-box;
	border-radius: var(--radius);
	color: white;
	padding: var(--button-padding);
	text-align: center;
	background: black;
	border: 1px solid rgba(255, 255, 255, 0.2);
	transition: background-color 0.25s, border-color 0.25s, color 0.25s,
		opacity 0.5s;
}

input:not([type]):focus-visible {
	border-color: white;
	outline: 0;
}

input:not([type]):disabled {
	opacity: 0.6;
}
