.screen {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	flex-flow: column;
	overflow: auto;
}

.screen.v-enter-active,
.screen.v-leave-active {
	transition: opacity 0.5s ease;
}

.screen.v-enter-from,
.screen.v-leave-to {
	opacity: 0;
}

@media (aspect-ratio >= 16/10) {
	.screen {
		flex-flow: row;
	}
}
