.board {
	container: board / inline-size;
	width: 100%;
	height: fit-content;
	display: grid;
	grid-template-columns: repeat(15, 1fr);
	grid-template-rows: repeat(15, 1fr);
	grid-gap: 1px;
}

@media (aspect-ratio >= 16/10) {
	.board {
		width: fit-content;
		height: 100%;
	}

	.is-smaller {
		height: 89vmin;
	}
}

.board-field {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #444;
	color: white;
	text-align: center;
	font-size: 2cqi;
	border: 1px solid #9bff6900;
	cursor: pointer;
	white-space: pre-wrap;
	aspect-ratio: 1 / 1;
	line-height: 1.2;
	transition: border-color 0.5s;
}
.board-field::after {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	box-shadow: inset 0 0 0 0 #1f5d0080;
	transition: box-shadow 0.5s ease-out;
}

.board-field.is-start,
.board-field.is-double-word {
	background-color: indianred;
}

.board-field.is-start-no-bonus {
	background-color: lch(40 50 120);
}

.board-field.is-triple-word {
	background-color: crimson;
}

.board-field.is-double-letter {
	background-color: cornflowerblue;
}

.board-field.is-triple-letter {
	background-color: royalblue;
}

.board-field.is-selected {
	border-color: #9bff69;
}
.board-field.is-selected::after {
	box-shadow: inset 0 0 0 1vmin #1f5d0080;
}
