.logo {
	flex: 0 0 auto;
	width: 16vmin;
	height: 16vmin;
	margin: 0 auto;
	transform: rotate(15deg) translateY(-4vmin);
}
.menu {
	flex: 0 1 auto;
	width: 100%;
	height: 100%;
	display: flex;
	flex-flow: column;
	padding: 8vmin;
	gap: 4vmin;
	margin: auto;
}
.menu-buttons {
	display: flex;
	flex-flow: column;
	gap: var(--gap);
	width: max-content;
	margin: 0 auto;
}
.button-row {
	display: flex;
	gap: var(--gap);
}

.remark {
	color: #ffffff55;
	padding: 0 var(--button-padding);
	text-align: center;
	transition: 0.5s;
}

.remark.hidden {
	opacity: 0;
}

.version {
	flex: 0 0 auto;
	color: #ffffff55;
	padding: var(--button-padding);
	text-align: center;
	font-size: 0.8em;
}

.flex {
	flex: 1 1 auto;
}

@media (aspect-ratio >= 16/10) {
	.menu {
		overflow: auto;
	}
	.version {
		writing-mode: vertical-lr;
		writing-mode: sideways-lr;
	}
}
