.players {
	margin: 0 auto;
	width: max-content;
	display: grid;
	grid-template-columns: auto auto auto;
	align-items: baseline;
	gap: calc(var(--gap) * 2);
	text-align: left;
}
.player-bonus {
	font-size: 0.8em;
	color: gray;
}

.tiles {
	font-size: 0.8em;
	color: lch(80 100 320);
}
